In [1]:
CREATE TABLE Wine (
    WineID INT PRIMARY KEY,
    Name NVARCHAR(255) NOT NULL,
    Description NVARCHAR(MAX),
    Type NVARCHAR(50),
    Country NVARCHAR(50),
    Price DECIMAL(10, 2)
);

CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName NVARCHAR(50),
    LastName NVARCHAR(50),
    Email NVARCHAR(100),
    Phone NVARCHAR(15),
    Adress NVARCHAR(MAX)
);

CREATE TABLE Sales (
    SaleID INT PRIMARY KEY,
    WineID INT ,
    SaleDate DATE,
    QuantitySold INT,
    TotalAmount DECIMAL(10,2),
    CustomerID INT,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    FOREIGN KEY (WineID) REFERENCES Wine(WineID)
);

SyntaxError: invalid syntax (1251387114.py, line 1)

In [ ]:
CREATE TABLE Purchases (
    PurchaseID INT PRIMARY KEY,
    WineID INT ,
    PurchaseDate DATE,
    QuantityPurchase INT,
    Cost DECIMAL(10,2),
    FOREIGN KEY (WineID) REFERENCES Wine(WineID)

-- додавання в таблицю данних

In [ ]:
INSERT INTO WINE (WineID, Name, Description, Type, Country, Price) VALUES
    (1, 'Chateau Margaux', 'Червоне вино класу Grand Cru', 'Червоне', 'Франція',  500.00),
    (2, 'Chardonnay Reserve', 'Біле вино з дубовим смаком', 'Біле', 'США',  45.00),
    (3, 'Prosecco Extra Dry', 'Італійське ігристе вино', 'Ігристе', 'Італія',  20.00),
    (4, 'Chateau Bordaux', 'Червоне вино', 'Червоне', 'Франція',  450.00);


INSERT INTO Customers (CustomerID, FirstName, LastName, Email, Phone, Adress) VALUES
    (1, 'Гаррі', 'Поттер', 'harry@example.com', '+380123456789',  '4 Привідна вулиця, Лондон'),
    (2, 'Герміона', 'Грейнджер', 'hermione@example.com', '+380987654321',  '7 Дубова вулиця, Лондон'),
    (3, 'Рон', 'Уізлі', 'ron@example.com', '+380567890123',  '12 Бурхлива вулиця, Лондон'),
    (4, 'Луна', 'Лавґуд', 'luna@example.com', '+3801111222333',  '23 Дивовижна вулиця, Лондон'),
    (5, 'Сіріус', 'Блек', 'sirius@example.com', '+3804444555566',  '10 Відьминська вулиця, Лондон');

INSERT INTO Sales (SaleID, WineID, SaleDate, QuantitySold, TotalAmount, CustomerID) VALUES
    (1, 1, '2023-09-15', 3, 1500.00, 1),
    (2, 2, '2023-09-16', 5, 225.00, 2),
    (3, 3, '2023-09-17', 2, 50.00, 3);


INSERT INTO Purchases (PurchaseID, WineID, PurchaseDate, QuantityPurchase, Cost) VALUES
    (1, 1, '2023-09-10', 10, 3500.00),
    (2, 2, '2023-09-11', 20, 800.00),
    (3, 3, '2023-09-12', 15, 375.00);

зміна телефону

In [ ]:
UPDATE Customers
SET Phone = '+380999888777'
where FirstName = 'Сіріус' and LastName = 'Блек';

select *
from Customers;

видалення запису

In [ ]:
DELETE FROM SALES where SaleId = 3;

In [ ]:
--Виберіть всі записи з таблиці "Wine" та виведіть всі доступні поля цих записів.

select *
from Wine;

--Відсортуйте всі записи з таблиці "Wine" за ціною в порядку зростання та виведіть всі поля цих записів.

select *
from Wine
Order by price;

--Відсортуйте клієнтів за прізвищем у зворотному алфавітному порядку та виведіть всі дані клієнтів.

select *
from customers
Order by LastName desc;

--Знайдіть середню кількість проданих пляшок за один продаж і виведіть результат.

select SaleID, AVG(QuantitySold) as averageQuantitySold
from Sales
group by  SaleID;


select Distinct Country
from Wine;

--Створіть запит для вибору унікальних типів вин і виведіть їх

select Distinct Type
from Wine;

--Порахуйте кількість унікальних країн виробництва вин і виведіть результат.

select count(Distinct Country) as countOfCountries
from Wine;


--Виберіть всіх клієнтів, які не мають номеру телефону та виведіть всі доступні поля цих клієнтів.

select *
from Customers
where Phone is Null;


--Виберіть всі записи з таблиці "Wine", де країна виробництва - Франція або Іспанія та виведіть всі поля цих записів.

select *
from Wine
where Country in ('Франція', 'Іспанія');


--Виберіть назви та ціни вин, які коштують менше 30.00 та виведіть ці два поля.

Select Name, PRICE
from Wine
where price < 30.00;


--Виберіть клієнтів з прізвищами, які починаються на "П" та мають більше 2 символів в імені та виведіть всі дані цих клієнтів

select*
from Customers
where LastName like 'П%' and len(FirstName)>2;


--Виберіть всі червоні вина з таблиці "Wine" та виведіть всі поля цих вин.

select *
from Wine
where Type like '%Червоне%';


--Запит на вибірку всіх клієнтів з об'єднаними іменами і прізвищами та виведіть ці дані в одному полі.

select (firstName + ' ' + LastName) as FullName
from customers;


--Запит на вибірку всіх вин з першою літерою назви у верхньому регістрі та виведіть всі поля цих вин. 

select *
from Wine
where  Left(Name, 1) = upper(Left(Name, 1));

select *
from Wine
where  Left(Name, 1) collate Cyrillic_General_CS_AS = upper(Left(Name, 1));


--Запит на вибірку всіх клієнтів, ім'я яких починається на "А" та виведіть всі дані цих клієнтів.

select *
from Customers
where FirstName like ('A%'); 

--Виберіть клієнтів, які мають електронну пошту від "gmail" та номер телефону, починаючи з "+380" та виведіть всі поля цих клієнтів.

select *
from Customers
where email like '%gmail%'
    and phone like '+380%'; 


--Виберіть клієнтів, які мають номер телефону, 
--починаючи з "+380", та електронну пошту, яка не відноситься до "microsoft" та виведіть всі дані цих клієнтів.

select *
from Customers
where phone like '+380%' 
        and email not like '%microsoft%'; 


--Виберіть вина, які мають ціну менше 30.00 або країну виробництва "Франція" та виведіть всі поля цих вин.

select *
from Wine
where price < 30.00 or country like 'Франція';


--Виберіть всі записи з таблиці "Sales" з датами продажу після 2023-09-15 та виведіть всі поля цих записів.

select *
from Sales
where SaleDate BETWEEN '2023-09-15' and GETDATE();


--Виберіть продажі, які відбулися від 2023-09-01 до 2023-09-15 та виведіть всі поля цих продажів

select *
from Sales
where SaleDate BETWEEN '2023-09-01' and '2023-09-15';


--Запит на вибірку всіх продажів, які відбулися в минулому місяці. 

select *
from Sales
where  SaleDate > = dateadd(month, -1, getdate()) and SaleDate < getdate();


select *
from Sales
where  datepart(month ,SaleDate)  = datepart(month, dateadd (month, -1, getdate()));

--Запит на вибірку всіх продажів, які відбулися в останні 7 днів. 

select *
from Sales
where  datepart(day ,SaleDate)  = datepart(day, dateadd (day, -7, getdate()));

--Запит на вибірку всіх продажів, які відбулися в поточному кварталі. 

select *
from Sales
where datepart(quarter , SaleDate) = datepart(quarter, GETDATE())
and datepart(year , SaleDate) = datepart(year, GETDATE());


--Знайдіть кількість закупок для кожного клієнта та впорядкуйте результат в порядку спадання. 
--Виведіть ім'я клієнта та кількість їхніх закупок. 

select c.FirstName, count (s.CustomerID) as countOfSales
from customers c
inner join Sales s
on c.CustomerId = s.CustomerID
group by s.CustomerID, c.FirstName
order by count (s.CustomerID) desc;

--Підрахунок кількості записів клієнтів для кожного міста в адресі.
--Згрупуйте дані за містами та виведіть кількість клієнтів для кожного міста.

select 'Лондон' cityName, count(*) as cnt_Customers_London
from Customers
WHERE Address like '%Лондон';


select  substring(address, (charindex ((','), address)+2), len(address)) as NameCity, count(*) as CntCity
from Customers 
group by substring(address, (charindex ((','), address)+2), len(address));


--Середня ціна вина за кожною країною виробництва. Згрупуйте дані за країною виробництва та виведіть середню ціну для кожної країни.

select Country, avg(price) as avg_Price
from Wine
group by Country
order by avg(price);


--Максимальна кількість закуплених пляшок вина для кожного клієнта. 
--Виведіть ім'я клієнта та максимальну кількість закуплених пляшок.

select c.FirstName, max(s.QuantitySold) as maxOfSales
from customers c
inner join Sales s
on c.CustomerId = s.CustomerID
group by s.CustomerID, c.FirstName
order by max(s.QuantitySold) desc;


--Загальна кількість проданих пляшок кожного типу вина. Згрупуйте дані за типом вина та виведіть загальну кількість проданих пляшок.

select w.Type, sum(QuantitySold) as qtSold
from Sales s
inner join Wine w
on s.WineId = w.Id
group by w.Type;


--Середня сума продажу для кожного місяця в році. Згрупуйте дані за місяцем і роком та виведіть середню суму продажу.

select DateName(month, (SaleDate)) as Month , avg(TotalAmount) as AvgSumSales
from Sales
group by DateName(month, (SaleDate));


-- Сумарна вартість всіх закупок кожного клієнта. Виведіть ім'я клієнта та сумарну вартість їхніх закупок. 

select c.FirstName, sum(s.TotalAmount) as sumOfSales
from customers c
inner join Sales s
on c.CustomerId = s.CustomerID
group by s.CustomerID, c.FirstName
order by sum (s.TotalAmount) asc;


--Знайти всі види вина (Type), які мають ціну більше 30.00. Виведіть ці види в порядку зростання ціни.

select type, price
from wine
where price >30.00
order by price asc;


---Знайти кількість пляшок кожного виду вина (Type), де кількість пляшок на складі більше 50 (Колонка QuantityPurchased). 
--Виведіть цю інформацію в порядку спадання кількості пляшок

select w.type, sum(p.QuantityPurchased) as sumQtPurchased
from Wine w
inner join Purchases p
on w.Id = p.WineID
group by w.type
having sum(p.QuantityPurchased) > 50
order by sum(p.QuantityPurchased);


--Знайти країни виробництва вина, де середня ціна вина перевищує 40.00. 
--Згрупуйте дані за країною виробництва, обчисліть середню ціну для кожної країни та виведіть тільки ті країни, для яких середня ціна перевищує 40.00. 
--Виведіть країни та їхні середні ціни.

select Country, avg (price) as avgPriceInCountry
from Wine
group by country
having avg (price) > 40
order by avg (price);

--Знайти типи вин, для яких існує хоча б одне вино з ціною більше 50.00. 
--Групуйте дані за типом вина, перевірте наявність вин з ціною більше 50.00 та виведіть ці типи вин та загальну кількість таких вин.
select type, count(ID) countWine
from Wine
where PRICE > 50.00
group by Type;


-- Знайти роки виробництва вин (колонка SaleDate), для яких середня ціна вина перевищує 35.00. Згрупуйте дані за роком виробництва, 
--обчисліть середню ціну для кожного року та виведіть тільки ті роки, для яких середня ціна перевищує 35.00. 
--Виведіть роки та їхні середні ціни.

select DateName(year, (SaleDate)) as YearSaleDate , avg(price) as avgPrice
from Sales s
inner join Wine w 
on s.WineId = w.ID
group by DateName(year, (SaleDate))
having avg(price) > 35.00;

In [ ]:
--Виберіть всі записи з таблиці "Wine" і додайте новий стовпець "PriceCategory". В цьому стовпці визначте категорію ціни вина за такими правилами:
-- Якщо ціна вина менше або рівна 30, то категорія "Доступне вино".
-- Якщо ціна вина більше 30 і менше або рівна 50, то категорія "Середня ціна".
-- Якщо ціна вина більше 50, то категорія "Дороге вино".


select * , 
       CASE 
          when price <=30 then 'Доступне вино'
          WHEN price>30 and price <=50 then 'Середня ціна'
          when price > 50 then 'Дороге вино'
        END as PriceCategory
from Wine;


--Виберіть всі записи з таблиці "Sales" і додайте новий стовпець "DiscountApplied". 
--В цьому стовпці визначте, чи була надана знижка на продаж за такими правилами:
-- Якщо кількість проданих пляшок вина більше або рівна 10, то знижка була надана (встановіть значення "Так").
-- Якщо кількість проданих пляшок вина менше 10, то знижки не було (встановіть значення "Ні").

select *, 
      iif (QuantitySold > 10, 'Так', 'Ні') as DiscountApplied
from sales;


--Знайдіть усіх клієнтів (ім'я та прізвище) з бази даних, які здійснили покупки (мають відповідні записи в таблиці "Sales"). 

select  FullName
from (
     select distinct s.customerId, (c.FirstName + ' ' + c.LastName ) as FullName
    from sales s
    inner join customers c
    on s.CustomerId = c.CustomerId ) cs
;

--Знайдіть назви всіх видів вина (стовпець "Type" з таблиці "Wine"), які були продані клієнтам з ім'ям "Гаррі". 
--Використайте внутрішній підзапит для вибору відповідних записів з таблиці "Sales" 
--та потім з'єднайте їх з таблицею "Wine", щоб отримати назви видів вина.

select  w.type as TypeOfWine,  customerName.FirstName 
from Sales s
inner join Wine w
on s.WineId = w.Id

inner join (select CustomerID, FirstName
           from Customers
           where FirstName like 'Гаррі') customerName
on s.CustomerID = customerName.CustomerId

group by w.type, customerName.FirstName;

--Знайдіть всі записи з таблиці "Purchases", 
--де кількість придбаних пляшок вина перевищує середню кількість придбаних пляшок вина для всіх покупок. 
--Використайте внутрішній підзапит для обчислення середньої кількості придбаних пляшок вина, 
--а потім використовуйте це значення в умові для вибору відповідних записів з таблиці "Purchases".

select PurchaseID, QuantityPurchased, avg (QuantityPurchased) as AVGPurch
from Purchases 
group by PurchaseID,QuantityPurchased
having avg (QuantityPurchased) > (
                                select  AVG(QuantityPurchased) as averageQuantityPurchased
                                from Purchases
                                )
;


--Виберіть клієнтів, які зробили понад 5 покупок.

select (c.FirstName + ' '+ c.LastName ) as FullName , count (s.saleId) as countSales
from Customers c 
inner join sales s 
on c.CustomerId = s.CustomerId
group by s.CustomerId, (c.FirstName + ' '+ c.LastName )
having count(s.saleId) > 5;

-- або з підзапитом

select (c.FirstName + ' '+ c.LastName ) as FullName ,  ss.countSales
from Customers c 
inner join (select customerId, count(saleId) as countSales
            from sales
            group by CustomerId)  ss
on c.CustomerId = ss.CustomerId
where ss.countSales > 5
;


--Виберіть всі вина, ціна яких менше середньої ціни для всіх вин.

select *
from Wine 
where price < (select avg(price)
                from Wine) ;